<div id="items">
  <% session.mods.each do |mod| %>
	<div class="card" data-item-id="<%= mod.id %>">
	  <div class="card-category"> <%= mod.title %> </div>
    <br>
	  <div class="card-description">
        <%= "#{mod.description.split('.').first(3).join('.')}." %>
		    <%= link_to edit_project_session_mod_path(session.project, session, mod) do %>
					<i class="fas fa-edit"></i>
				<% end %>
		    <%= link_to project_session_mod_path(session.project, session, mod), method: :delete, data: { confirm: "Are you sure ?"} do %>
					<i class="far fa-trash-alt"></i>
				<% end %>
	  </div>
	</div>
  <% end %>
</div>

