<div id="items">
  <% session.mods.each do |mod| %>
    <% @previous = session.mods.find_by(position: (mod.position - 1)) %>
    <% @error = true if (@previous != nil) && ((mod.duration + @previous.duration) > 45) && (mod.format == @previous.format) %>
  	<div class="card card-mods <%= 'error' if @error %>" data-item-id="<%= mod.id %>">
  	    <div class="card-left align-elements-in-flexbox ">
  	    	<div class="mod-time">
  	    		<% if mod.position == 1 %>
  	    			<% @start = @session.start_time %>
  	    			<%= @start.strftime("%H:%M") %>
  	    		<% else %>
  		    		<% @start += mod.duration.minutes %>
  		    		<%= @start.strftime("%H:%M") %>
  	    		<% end %>
  	    	</div>
  	    	<div class="circle"></div>
  	    </div>
  	    <div class="card-right">
  		    <%= link_to '', project_session_mod_path(mod.session.project, mod.session, mod), class: 'card-link' %>
  			  <div class="card-category"> <%= mod.title %> </div>
  		    <br>
  			  <div class="card-description">
  		        <%= "#{mod.description.split('.').first(3).join('.')}." %>
  				    <%= link_to edit_project_session_mod_path(session.project, session, mod) do %>
  							<i class="fas fa-edit"></i>
  						<% end %>
  				    <%= link_to project_session_mod_path(session.project, session, mod), method: :delete, data: { confirm: "Are you sure ?"} do %>
  							<i class="far fa-trash-alt"></i>
  						<% end %>
  			  </div>
  	    </div>
  	</div>
    <% end %>
</div>
