<div class="container">
  <h1>Edit <%= @session.title %> 
	              <%= link_to project_session_path(@session.project, @session), method: :delete, data: { confirm: 'Are you sure ?'} do %>
	              <button class="btn control-button control-button-danger">
	                <i class="fas fa-trash-alt"></i>
	                </button>
	              <% end %>
	</h1>
	

  <%= simple_form_for [@project, @session] do |f| %>
    <%= f.input :title %>
    <%= f.input :date %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.submit %>
  <% end %>
</div>

