<div class="container">
  <h1 class="title-pdf"><%= @session.title %></h1>
  <h3 class="session-details-pdf"><%= @session.date.strftime("%A %e %B %Y") %> ( Start time: <%= @session.start_time.strftime("%H:%M") %> - End time: <%= @session.end_time.strftime("%H:%M") %> )</h3>
  <p class="project-details-pdf">(Project name: <%= @session.project.title %> - Client: <%= @session.project.client.name %>)</p>
  <br>
    <% @contents.each do |content| %>
    <h3 class="content-details-pdf"><%= content.title %> ( <%= content.format %> - <em><%= content.duration %> min</em> )</h3>
    <p class="content-intel-pdf">Intelligences: <% if content.intel2.nil? %>
                                                  <%= content.intel1 %>
                                                  <% else %>
                                                  <%= content.intel1 %> - <%= content.intel2 %>
                                                  <% end %>
    </p>
    <br>
    <p class="content-description-pdf"><%= content.description %></p>
    <br>
    <% end %>
</div>
