<div class="container-session-show">
	<div class="nav-side-menu">
	    <div class="brand">Content Manager</div>
	    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

	        <div class="menu-list">

	            <ul id="menu-content" class="menu-content collapse out">
	                <% @chapter.each do |chapter| %>
		                <li  data-toggle="collapse" data-target="#<%= chapter %>" class="collapsed">
		                  <a href="#"><%= chapter %><span class="arrow"></span></a>
		                </li>
			                <ul class="sub-menu collapse" id="<%= chapter %>">
			                	<% @contents.where(chapter: chapter).each do |content| %>
			                    	<li><%= link_to "#{content.title}", project_session_mods_path(@session.project, @session, content_id: content.id), method: :post %></li>
			                    <% end %>
			               	</ul>
	                <% end %>
	            </ul>
	     </div>
	</div>

	<div class="session-container">
		<div class="container" style="text-align: center">
      <div class="session-header">
        <div>
          <%= link_to 'Return', project_path(@session.project), class: 'btn btn-primary' %>
        </div>
        <div>
          <%= link_to 'Edit session', edit_project_session_path(@session.project, @session), class: 'btn btn-warning' %>
  			 <%= link_to 'Delete session', project_session_path(@session.project, @session), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-danger' %>
        </div>
      </div>
      <div class="top-mods">  
        <h2><%= @session.title %></h2>

        <h3><%= @session.date.strftime("%A %e %B %Y") %></h3>
        <%= "from #{@session.start_time.hour}:#{@session.start_time.min}0 to" if @session.start_time.min.to_s.length == 1 %>
        <%= "from #{@session.start_time.hour}:#{@session.start_time.min} to" if @session.start_time.min.to_s.length == 2 %>
        <%= "#{@session.end_time.hour}:#{@session.end_time.min}0" if @session.start_time.min.to_s.length == 1 %>
        <%= "#{@session.end_time.hour}:#{@session.end_time.min}" if @session.start_time.min.to_s.length == 2 %>
      </div>
      <div id="mods">
        <%= render 'mods/index', session: @session %>
      </div>

			<%# link_to 'Select content', new_project_session_mods_path(@session.project, @session) %>
          <div class="comment-box">
      <div class="message-box">
        <%= simple_form_for [@session.project, @session, @comment] do |f| %>
          <%= f.input :message %>
          <%= f.submit %>
        <% end %>
        <ul>
          <% @session.comments.each do |comment| %>
            <% if comment.message.split(' ').first != "Log" %>
              <li><%= "#{comment.user.name} : #{comment.message} on #{comment.created_at.day}-#{comment.created_at.month}-#{comment.created_at.year}" %></li>
              <% end %>
          <% end %>
        </ul>
      </div>
      <div class="log-box">
        <h4>Logs</h4>
        <ul>
          <% @session.comments.each do |comment| %>
            <% if comment.message.split(' ').first == "Log" %>
              <li><%= "#{comment.message.split('|')[1]} - #{comment.created_at}" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
		</div>

	</div>
</div>
