<div class="container-session-show">
	<div class="container session-container">
      <div class="session-header">
        <div class="user-controls">
          <%= link_to project_path(@session.project) do %>
            <i class="fas fa-arrow-left" style="font-size: 30px";></i>
          <% end %>
        </div>
        <div>
          <%= link_to project_session_path(@session.project, @session, format: :pdf), id: "export-btn" do %>
            <button class="btn btn-edit btn-edit">
                Export as <i class="fas fa-file-pdf"></i>
            </button>
          <% end %>
        </div>
      </div>
      <div class="top-mods">
        <h3><%= @session.title %>    <em style="font-size: 17px; cursor: pointer; font-style: normal;" ><%= link_to edit_project_session_path(@session.project, @session), id: "edit-btn" do %>
          <i class="fas fa-edit"></i><% end %>
        <h4><%= @session.date.strftime("%A %e %B %Y") %>
        <%= "from #{@session.start_time.hour}:#{@session.start_time.min}0 to" if @session.start_time.min.to_s.length == 1 %>
        <%= "from #{@session.start_time.hour}:#{@session.start_time.min} to" if @session.start_time.min.to_s.length == 2 %>
        <%= "#{@session.end_time.hour}:#{@session.end_time.min}0" if @session.start_time.min.to_s.length == 1 %>
        <%= "#{@session.end_time.hour}:#{@session.end_time.min}" if @session.start_time.min.to_s.length == 2 %>
        </h4>
      </div>
      <div id="mods">
        <%= render 'mods/index', session: @session %>
      </div>

      <%# link_to 'Select content', new_project_session_mods_path(@session.project, @session) %>
    <div class="comment-box">
      <div class="message-box">
        <h4>Add a message</h4>
        <%= simple_form_for [@session.project, @session, @comment], html: { class: "form-inline"} do |f| %>
          <%= f.input :message, placeholder: "Add a messsage to your collaborators", input_html: { style: "width: 500px; margin-right: 20px;"}, label: false %>
          <%= f.submit class: 'btn btn-edit'%>
        <% end %>
        <ul>
          <% @session.comments.each do |comment| %>
            <% if comment.message.split(' ').first != "Log" %>
              <li class="logs-message"><%= "#{comment.user.name} : #{comment.message} on #{comment.created_at.strftime(("%d/%m/%Y - %H:%M"))}" %></li>
              <% end %>
          <% end %>
        </ul>
      </div>
      <div class="log-box">
        <h4>Log Records</h4>
        <ul>
          <% @session.comments.each do |comment| %>
            <% if comment.message.split(' ').first == "Log" %>
              <li class="logs-message"><%= "#{comment.message.split('|')[1]} - #{comment.created_at.strftime(("%d/%m/%Y - %H:%M"))}" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
	</div>
  <div class="nav-side-menu-container">
    <div class="nav-side-menu">
      <div class="brand">Content Manager</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
              <li id='click-to-add'><p><em><--Click to add--></em></p></li>
            <% @chapter.each do |chapter| %>
              <li data-toggle="collapse" data-target="#<%= chapter %>" class="collapsed">
                <a><%= chapter %><span class="arrow"></span></a>
              </li>
                <ul class="sub-menu collapse" id="<%= chapter %>">
                  <% @contents.where(chapter: chapter).each do |content| %>
                      <li class="content-chapter"><%= link_to "+ #{content.title}", project_session_mods_path(@session.project, @session, content_id: content.id), method: :post, remote: true %></li>
                    <% end %>
                </ul>
            <% end %>
          </ul>
       </div>
    </div>

  </div>
</div>

<div class="modal fade" id="editSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit', session: @session %>
  </div>
</div>
