<h1><%= @session.title %></h1>

<%= @session.date %>
<%= @session.start_time %>
<%= @session.end_time %>

<ul>
  <% @session.contents.each do |content| %>
    <li><%= content.title %></li>
  <% end %>
</ul>


<%= link_to 'Edit session', edit_project_session_path(@session.project, @session), class: 'btn btn-warning' %>
<%= link_to 'Delete session', project_session_path(@session.project, @session), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-danger' %>
<%= link_to 'Select content', new_project_session_sessions_content_path(@session.project, @session) %>
