<div class="container">
  <h1>Edit a content</h1>

  <%= simple_form_for @content do |f| %>
    <%= f.input :title %>
    <%= f.input :format %>
    <%= f.input :duration, input_html: { min: '0' } %>
    <%= f.input :chapter, :collection => %w[ Communication Developpement-Personnel Innovation Management Négociation Stratégie Leadership ] %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
