<div class="container">
  <h1>Add a content</h1>

  <%= simple_form_for @content do |f| %>
    <%= f.input :title %>
    <%= f.input :format %>
    <%= f.input :duration, input_html: { min: '0' } %>
    <%= f.input :chapter, :collection => %w[ Communication Developpement-Personnel Innovation Management Négociation Stratégie Leadership ] %>
    <%= f.input :intel1, :collection => %w( Logico-Mathématique Verbo-Linguistique Spatiale Intrapersonnelle Interpersonnelle Kinesthesique Musicale-Rythmique ) %>
    <%= f.input :intel2, :collection => %w( Logico-Mathématique Verbo-Linguistique Spatiale Intrapersonnelle Interpersonnelle Kinesthesique Musicale-Rythmique ) %>
    <%= f.input :description, input_html: { class: "f-description" } %>
    <p class="center-button"> <%= f.submit class: 'btn-edit' %> </p>
  <% end %>
</div>
