<div class="container">
  <h4>Edit a user</h4>

  <%= simple_form_for @user do |f| %>
    <%= f.input :name %>
    <%= f.input :expertise, :collection => @expertises %>
    <%= f.input :email %>
    <%= f.input :access_level, :collection => %w(admin project_manager sevener) %>
    <%= f.submit %>
  <% end %>
</div>

