<div class="container">
  <div class="user-info">
    <h4><%= @user.name %></h4>
    <h4><%= @user.email %></h4>
    <h4><%= @user.expertise %></h4>
    <h4><%= @user.access_level %></h4>
  </div>
  <div class="user-controls">
    <button class="btn btn-edit">
      <%= link_to edit_user_path(@user) do %>
        <i class="fas fa-edit"></i>
      <% end %>
  </button>
  <button class="btn btn-edit">
    <%= link_to user_path(@user), method: :delete, data: { confirm: 'Are you sure ?'} do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </button>
  </div>
</div>
