<div class="container">
  <div class="list-clients">
    <div class='client-control'>
      <h3>List of clients</h3>
      <button class="btn btn-success">
        <%= link_to 'New client', new_client_path %>
      </button>
    </div>
      <ul class='clients-list'>
        <% @clients = @clients.sort_by(&:company) %>
        <% @clients.each do |client| %>
          <li><%= link_to client_path(client), class: 'client-card' do %>
            <img class='client-logo-list' src='<%= "#{client.logo}" %>' alt="" style="height: 35px; width: 35px; border-radius: 50%;">
            <p class='client-company'><strong><%= client.company %></strong></p>
            <p class='client-name'><%= client.name %></p>
            <p class='client-email'><%= client.email %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
