<div class="container">
  <h3><%= "Welcome #{current_user.name}" %></h3>
  <div class="new-project">
    <%= link_to 'New project', new_project_path, class: "btn btn-success" %>
  </div>
  <h4 class='project-cat'>Pending Projects</h4>
  <div class="row">
    <% result_cours = [] %>
    <% @projects.each do |project| %>
      <% if project.start_date <= Date.today && project.end_date >= Date.today %>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-main">
              <div class='client-logo' style="background-image: linear-gradient(rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 50%), url(<%= project.client.logo %>); background-size: 50px 50px; background-repeat: no-repeat;"></div>
              <h6><%= project.title %></h6>
              <% result_cours << project %>
              <div class="card-infos">
                <div class='card-infos-elements'><i class="fas fa-user"></i><%= " #{project.participant_number} people" %></div>
                <div class='card-infos-elements'><i class="far fa-calendar-alt"></i><%= " From #{project.start_date.strftime('%d/%m/%y')} to #{project.end_date.strftime('%d/%m/%y')}" %>
                </div>
              </div>
            </div>
            <div class="card-footer">
                <%= link_to 'Check details', project_path(project) %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
      <% if result_cours.empty? %>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-main">
              <%= "Empty" %>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
      <% end %>
  </div>
  <h4 class='project-cat'>Coming Projects</h4>
  <div class="row">
    <% result_fut = [] %>
    <% @projects.each do |project| %>
      <% if project.start_date > Date.today %>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-main">
              <div class='client-logo' style="background-image: linear-gradient(rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 50%), url(<%= project.client.logo %>); background-size: 50px 50px; background-repeat: no-repeat;"></div>
              <h6><%= project.title %></h6>
              <% result_fut << project %>
              <div class="card-infos">
                <div class='card-infos-elements'><i class="fas fa-user"></i><%= " #{project.participant_number} people" %></div>
                <div class='card-infos-elements'><i class="far fa-calendar-alt"></i><%= " From #{project.start_date.strftime('%d/%m/%y')} to #{project.end_date.strftime('%d/%m/%y')}" %>
                </div>
              </div>
            </div>
            <div class="card-footer">
                <%= link_to 'Check details', project_path(project) %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
      <% if result_fut.empty? %>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-main">
              <%= "Empty" %>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
      <% end %>
  </div>
  <h4 class='project-cat'>Concluded Projects</h4>
  <div class="row">
    <% result_term = [] %>
    <% @projects.each do |project| %>
      <% if project.end_date < Date.today %>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-main">
              <div class='client-logo' style="background-image: linear-gradient(rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 50%), url(<%= project.client.logo %>); background-size: 50px 50px; background-repeat: no-repeat;"></div>
              <h6><%= project.title %></h6>
              <% result_term << project %>
              <div class="card-infos">
                <div class='card-infos-elements'><i class="fas fa-user"></i><%= " #{project.participant_number} people" %></div>
                <div class='card-infos-elements'><i class="far fa-calendar-alt"></i><%= " From #{project.start_date.strftime('%d/%m/%y')} to #{project.end_date.strftime('%d/%m/%y')}" %>
                </div>
              </div>
            </div>
            <div class="card-footer">
                <%= link_to 'Check details', project_path(project) %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
      <% if result_term.empty? %>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-main">
              <%= "Empty" %>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
      <% end %>
  </div>
</div>
