<div class="container" id="update-modal">
  <div class="project-show-title">
    <h1><%= @project.title %></h1>
    <div class="control-buttons">
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editProject">Edit Project</button>
      <%= link_to 'Delete a project', project_path(@project), method: :delete, data: { confirm: 'Are you sure ?'}, class: 'btn btn-danger' %>
      <%= link_to 'Add a session', new_project_session_path(@project), class: 'btn btn-primary' %>
    </div>
  </div>


  <div class="project-info">
    <div class="project-info-headers">
      <p><%= "From #{@project.start_date.day}/#{@project.start_date.month}/#{@project.start_date.year} to #{@project.end_date.day}/#{@project.end_date.month}/#{@project.end_date.year}" %></p>
      <i class="fas fa-user"></i><%= " #{@project.participant_number}" %>
    </div>
    <div class="sessions-cards">
      <% @project.sessions.each do |session| %>
      <div class="card-lg">
        <div class="card-main-lg">
          <h3><%= session.title %></h3>
          <%= link_to '', project_session_path(session.project, session), class: "card-link" %>
        </div>
        <div class="card-footer-lg">
          <p><%= session.date %></p><div><i class="far fa-hourglass"></i><%= " #{session.start_time.strftime("%k:%M")} to #{session.end_time.strftime("%k:%M")}" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit', project: @project %>
  </div>
</div>